@import "@/app/styles/mixins";
@import "@/app/styles/variables";

.bg {
  position: relative;
  background-color: #cdc1a3;
  background-image: url('/../images/bg.svg');
  background-blend-mode: overlay;
  padding: 0 72px;
  background-size: cover;
  width: 100dvw;
  overflow: hidden;
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  z-index: 1;
}

.content {
    display: flex;
    flex-direction: row;
}

.image {
  display: block;
  bottom: -30px;
  max-height: 100%;
  right: -30px;
  position: absolute;
  z-index: 0;
}

@media (max-width: 1300px) {
  .image {
    max-height: 90%;
  }
}

@media (max-width: 1250px) {
  .bg {
    min-height: 80dvh;
    max-height: 1200px;
  }

  .mobile {
    display: block;
    bottom: -40px;
    max-height: 70%;
    right: -30px;
    position: absolute;
    z-index: 0;
  }

  .image {
    display: none;
  }

  .wrapper {
    height: 90dvh;
  }
}

@media (max-width: 720px) {
  .bg {
    height: 80dvh;
    max-height: 850px;
  }

  .mobile {
    max-height: 60%;
  }
}

@media (min-width: 1250px) {
  .mobile {
    display: none;
  }
}
