@import "@/app/styles/mixins";
@import "@/app/styles/variables";

.bg {
  background: #d6ba99;
  background-image: url('/../images/bg.svg');
  background-blend-mode: overlay;
  padding: 0 72px;
  background-size: cover;
  background-position: center;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: row;
}

.image {
    margin: 0 0 -30px 0;
    width: 250%;
}

@media (max-width: 720px) {
  .bg {
    padding: 18px 28px;
  }
}