.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 72px 72px;
}

.title {
  display: flex;
  justify-content: space-between;
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Merriweather, serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
  padding-bottom: 60px;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  margin: 0;
  width: 80%;
  height: 10%;
}

.image img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.name {
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  padding: 28px 0 6px;
}

.rank {
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  opacity: 0.6;
  padding-bottom: 20px;
}

.controls {
  max-width: 1200px;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  align-items: center;
}

.fraction {
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.arrowNext {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  align-items: center;
  cursor: pointer;
  margin: 10px;
  gap: 30px;

  &:hover {
    svg circle {
      fill: #FBCE51;
    }
  }
}

.arrowPrev {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  align-items: center;
  cursor: pointer;
  margin: 10px;
  gap: 30px;

  &:hover {
    svg circle {
      fill: #FBCE51;
    }
  }
}

.disabled {
  pointer-events: none;
}

.button {
  display: inline-flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 62px;
  border: 1px solid #3057A2;
  color: #3057A2;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  background-color: transparent;
  height: 35px;

  &:hover {
    color: white;
    background-color: #3057A2;
  }
}
.mobileСontrols {
  display: none;
}

@media (max-width: 1000px) {
  .wrapper {
    padding: 100px 20px;
  }

  .controls {
    display: none;
  }

  .fraction {
    margin: 0;
  }

  .mobileControls {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}
