.wrapper {
  max-width: 1400px;
  margin: auto;
  padding: 120px 72px;
}

.title {
  display: flex;
  flex-direction: column;
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Merriweather, serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: left;
  max-width: 800px;
}

.description {
  font-size: 20px;
  font-weight: 400;
  color: #3057A2;
  margin-bottom: 30px;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text", serif;
  font-style: normal;
  line-height: 120%;
  //margin-left: 10px;
  text-transform: none;
}

.transformationStages {
  text-align: center;
  font-family: Merriweather, serif;
}

.stagesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 3 / 4; }
.div4 { grid-area: 2 / 1 / 3 / 2; }
.div5 { grid-area: 2 / 2 / 3 / 3; }
.div6 { grid-area: 3 / 1 / 4 / 2; }
.div7 { grid-area: 3 / 2 / 4 / 4; }

.div7 p {
  width: 50%;
}

.stageCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  //background-color: rgba(205, 193, 163, 0.9);
  background-image: url('/../images/cardBG.svg');
  background-blend-mode: overlay;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: left;
}

.stageNumber {
  background-color: white;
  width: 32px;
  height: 32px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 16px;
  left: 16px;
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.stageCard p {
  margin: 0;
  padding-left: 52px;
  color: #313131;
  font-size: 18px;
  line-height: 1.4;
}

.stageCard img {
  position: absolute;
  left: 60%;
  bottom: 0;
}

@media (max-width: 1000px) {
  .wrapper {
    padding: 20px;
  }

  .transformationStages {
    display: none;
  }

  .carouselContainer {
    margin-top: 170px;
    background-color: rgba(205, 193, 163, 0.9);
    background-image: url('/../images/cardBG.svg');
  }

  .slide {
    display: flex;
    flex-direction: column;
    font-family: "Golos Text", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-align: left;
    height: 40dvh;
  }

  .stageSlideFirst {
    display: flex;
    flex-direction: row;
    padding: 60px 24px 0 20px;
  }

  .stageSlideSecond {
    display: flex;
    flex-direction: row;
    padding: 60px 24px 72px 20px;
  }

  .stageFirstNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-right: 20px;
    width: 32px;
    height: 32px;
    border-radius: 60px;
  }

  .stageSecondNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-right: 20px;
    width: 32px;
    height: 32px;
    border-radius: 60px;
    margin-bottom: 10px;
  }

  .text {
    font-size: 20px;
    color: #313131;
    line-height: 1.4;
    max-width: 70%;
  }

  .controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
  }

  .title {
    margin: 0;
  }

  .plane {
    position: absolute;
    z-index: 2;
    left: 30dvw;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
  }

  .dot {
    width: 10px;
    height: 10px;
    background-color: #D6D6D6;
    border-radius: 50%;
    margin: 0 5px;
    transition: background-color 0.3s;
  }

  .dot.active {
    background-color: #313131;
  }

  .arrowNext {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    gap: 30px;

    &:hover {
      svg circle {
        fill: #FBCE51;
      }
    }
  }

  .arrowPrev {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    gap: 30px;

    &:hover {
      svg circle {
        fill: #FBCE51;
      }
    }
  }
}

@media (max-width: 700px) {
  .plane {
    left: 20dvw;
  }
}


@media (min-width:1000px) {
  .controls {
    display: none;
  }

  .stageSlideFirst {
    display: none;
  }

  .stageSlideSecond {
    display: none;
  }

  .plane {
    display: none;
  }
}