.bg {
  background: #E9DED4;
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  opacity: 0.6;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  padding: 72px 40px 72px 72px;
  gap: 10px;
}

@media (max-width: 1000px) {
  .wrapper {
    padding: 40px 20px 60px;
  }
}
